In [1]:
import numpy as np
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.neighbors import KNeighborsClassifier

In [4]:
import time

start_1 = time.time()

In [5]:
train_df = pd.read_csv('train.csv')

In [6]:
train_df.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
train_df = train_df[:5000]

In [8]:
X = train_df.drop('label', axis=1)
y = train_df['label']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, shuffle=True)

In [9]:
#svm = LinearSVC()
#svm.fit(X_train, y_train)
#svm_predictions = svm.predict(X_test)
#print(classification_report(y_test, svm_predictions))

In [10]:
#print(accuracy_score(y_test, svm_predictions))

In [11]:
kneigh = KNeighborsClassifier()
kneigh.fit(X_train, y_train)
kneigh_predictions = kneigh.predict(X_test)
print(classification_report(y_test, kneigh_predictions))

              precision    recall  f1-score   support

           0       0.93      0.99      0.96       139
           1       0.86      0.99      0.92       154
           2       0.96      0.90      0.93       157
           3       0.91      0.91      0.91       163
           4       0.94      0.89      0.91       134
           5       0.90      0.92      0.91       144
           6       0.98      0.96      0.97       175
           7       0.91      0.94      0.92       147
           8       0.97      0.80      0.88       161
           9       0.83      0.87      0.84       126

   micro avg       0.92      0.92      0.92      1500
   macro avg       0.92      0.92      0.92      1500
weighted avg       0.92      0.92      0.92      1500

In [12]:
print(accuracy_score(y_test, kneigh_predictions))

0.918

In [13]:
end = time.time()
print("Time: ", end - start_1)

Time:  9.377092838287354

# Final Step - Submission:

In [14]:
X = train_df.drop('label', axis=1)
y = train_df['label']

kneigh.fit(X, y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [15]:
test_df = pd.read_csv('test.csv')
X_test_1 = test_df[:5000]
X_test_2 = test_df[5000:10000]
X_test_3 = test_df[10000:15000]
X_test_4 = test_df[15000:20000]
X_test_5 = test_df[20000:25000]
X_test_6 = test_df[25000:]

In [16]:
start = time.time()
submission_1 = kneigh.predict(X_test_1)
end = time.time()
print('...done', end-start)

submission = pd.DataFrame(submission_1, columns=['Label'])

...done 29.729859828948975

In [17]:
start = time.time()
submission_2 = kneigh.predict(X_test_2)
end = time.time()
print('...done', end-start)

submission_2 = pd.DataFrame(submission_2, columns=['Label'])
submission = submission.append(submission_2, ignore_index=True, sort=False)

...done 29.74529004096985

In [18]:
start = time.time()
submission_3 = kneigh.predict(X_test_3)
end = time.time()
print('...done', end-start)

submission_3 = pd.DataFrame(submission_3, columns=['Label'])
submission = submission.append(submission_3, ignore_index=True, sort=False)

...done 28.197383165359497

In [19]:
start = time.time()
submission_4 = kneigh.predict(X_test_4)
end = time.time()
print('...done', end-start)

submission_4 = pd.DataFrame(submission_4, columns=['Label'])
submission = submission.append(submission_4, ignore_index=True, sort=False)

...done 28.340713024139404

In [20]:
start = time.time()
submission_5 = kneigh.predict(X_test_5)
end = time.time()
print('...done', end-start)

submission_5 = pd.DataFrame(submission_5, columns=['Label'])
submission = submission.append(submission_5, ignore_index=True, sort=False)

...done 28.173057079315186

In [21]:
start = time.time()
submission_6 = kneigh.predict(X_test_6)
end = time.time()
print('...done', end-start)

submission_6 = pd.DataFrame(submission_6, columns=['Label'])
submission = submission.append(submission_6, ignore_index=True, sort=False)

...done 17.018262147903442

In [22]:
submission.head()

   Label
0      2
1      0
2      9
3      9
4      3

In [23]:
example_sub = pd.read_csv('sample_submission.csv')

In [24]:
example_sub.head()

   ImageId  Label
0        1      0
1        2      0
2        3      0
3        4      0
4        5      0

In [25]:
submission.set_index(example_sub['ImageId'], inplace=True)

In [26]:
submission.head()

         Label
ImageId
1            2
2            0
3            9
4            9
5            3

In [27]:
submission.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28000 entries, 1 to 28000
Data columns (total 1 columns):
Label    28000 non-null int64
dtypes: int64(1)
memory usage: 437.5 KB

In [28]:
submission.to_csv('submission_v0.3.csv')

In [29]:
end = time.time()

print('Complete Submission ...done', end - start_1)

Complete Submission ...done 173.29465699195862